.bookshelf {
    text-align: center;
    padding: 32px;
}

.bookshelf h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.bookshelf .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 32px;
}